/* .title {
  position: absolute;
height: 129px;
left: 4.5%;
right: 78.85%;
/* top: calc(50% - 129px/2 - 996.5px); */

/* font-family: OpenSans;
font-size: 95px;
line-height: 111px; */

/* color: rgba(0, 0, 0, 0.967957);
}

.wrapper {
  position: absolute;
  border-radius: 10%;
left: 4.5%;
right: 90.21%;
top: 32.68%;
bottom: 59.93%;


} */ 

.wrapper img {
border-radius:45%;
left: 4.5%;
right: 90.21%;
top: 32.68%;
bottom: 59.93%;
}




